In [344]:
#(A part of Big Data Analysis)

#A Flights Dataset

In [345]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [346]:
data=pd.read_csv(r"c:\Users\DELL\Downloads\airlines_flights_data.csv")

In [347]:
# Remove the index column

data.drop(columns="index",inplace=True)

In [348]:
data

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...
300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [349]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   airline           300153 non-null  object
 1   flight            300153 non-null  object
 2   source_city       300153 non-null  object
 3   departure_time    300153 non-null  object
 4   stops             300153 non-null  object
 5   arrival_time      300153 non-null  object
 6   destination_city  300153 non-null  object
 7   class             300153 non-null  object
 8   duration          300153 non-null  float64
 9   days_left         300153 non-null  int64
 10  price             300153 non-null  int64
dtypes: float64(1), int64(2), object(8)
memory usage: 25.2+ MB

In [350]:
# Get started summary about the dataset

data.describe()

            duration      days_left          price
count  300153.000000  300153.000000  300153.000000
mean       12.221021      26.004751   20889.660523
std         7.191997      13.561004   22697.767366
min         0.830000       1.000000    1105.000000
25%         6.830000      15.000000    4783.000000
50%        11.250000      26.000000    7425.000000
75%        16.170000      38.000000   42521.000000
max        49.830000      49.000000  123071.000000

In [351]:
data[data["duration"]==49.830000]

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
193889,Air_India,AI-672,Chennai,Evening,two_or_more,Evening,Bangalore,Economy,49.83,2,23891
194359,Air_India,AI-672,Chennai,Evening,one,Evening,Bangalore,Economy,49.83,9,17538

In [352]:
data[data["duration"]==0.830000]

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
115869,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,6,3498
115943,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,7,3498
116010,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,8,3498
116081,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,9,3498
116163,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,10,3498
116236,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,11,3498
116322,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,12,3498
116411,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,13,3498
116496,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,14,3498
116656,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,16,1924
116835,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,18,1924
116924,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,19,1924
117019,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,20,1924
117101,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,21,1924
117190,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,22,1924
117274,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,23,1924
117366,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,24,1924
117461,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,25,1924
117547,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,26,1924
117643,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,27,1924
117728,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,28,1924
117817,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,29,1924
117900,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,30,1924
117995,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,31,1604
118086,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,32,1604
118173,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,33,1604
118269,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,34,1604
118355,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,35,1604
118445,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,36,1604
118528,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,37,1604
118622,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,38,1604
118712,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,39,1604
118799,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,40,1604
118896,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,41,1604
118982,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,42,1604
119072,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,43,1604
119155,Indigo,6E-357,Bangalore,Night,zero,Night,Chennai,Economy,0.83,44,1604
197354,Indigo,6E-987,Chennai,Early_Morning,zero,Early_Morning,Bangalore,Economy,0.83,45,1443
197355,Indigo,6E-477,Chennai,Early_Morning,zero,Morning,Bangalore,Economy,0.83,45,1443
197356,Indigo,6E-6137,Chennai,Morning,zero,Morning,Bangalore,Economy,0.83,45,1443
197445,Indigo,6E-987,Chennai,Early_Morning,zero,Early_Morning,Bangalore,Economy,0.83,46,1443
197446,Indigo,6E-477,Chennai,Early_Morning,zero,Morning,Bangalore,Economy,0.83,46,1443
197447,Indigo,6E-6137,Chennai,Morning,zero,Morning,Bangalore,Economy,0.83,46,1443
197537,Indigo,6E-987,Chennai,Early_Morning,zero,Early_Morning,Bangalore,Economy,0.83,47,1443
197538,Indigo,6E-477,Chennai,Early_Morning,zero,Morning,Bangalore,Economy,0.83,47,1443
197539,Indigo,6E-6137,Chennai,Morning,zero,Morning,Bangalore,Economy,0.83,47,1443
197626,Indigo,6E-987,Chennai,Early_Morning,zero,Early_Morning,Bangalore,Economy,0.83,48,1443
197627,Indigo,6E-477,Chennai,Early_Morning,zero,Morning,Bangalore,Economy,0.83,48,1443
197628,Indigo,6E-6137,Chennai,Morning,zero,Morning,Bangalore,Economy,0.83,48,1443
197712,Indigo,6E-987,Chennai,Early_Morning,zero,Early_Morning,Bangalore,Economy,0.83,49,1443
197713,Indigo,6E-477,Chennai,Early_Morning,zero,Morning,Bangalore,Economy,0.83,49,1443
197724,Indigo,6E-6137,Chennai,Morning,zero,Morning,Bangalore,Economy,0.83,49,1549

In [353]:
data[data["price"]==17538]

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
187601,Vistara,UK-836,Chennai,Morning,one,Night,Mumbai,Economy,9.33,2,17538
187602,Vistara,UK-836,Chennai,Morning,one,Night,Mumbai,Economy,10.50,2,17538
187603,Vistara,UK-836,Chennai,Morning,one,Night,Mumbai,Economy,11.25,2,17538
187604,Vistara,UK-834,Chennai,Evening,one,Morning,Mumbai,Economy,18.00,2,17538
187605,Vistara,UK-834,Chennai,Evening,one,Morning,Mumbai,Economy,18.42,2,17538
187700,Vistara,UK-832,Chennai,Early_Morning,one,Evening,Mumbai,Economy,9.58,3,17538
188055,Vistara,UK-834,Chennai,Evening,one,Night,Mumbai,Economy,5.67,6,17538
188056,Vistara,UK-834,Chennai,Evening,one,Night,Mumbai,Economy,6.67,6,17538
188057,Vistara,UK-834,Chennai,Evening,one,Early_Morning,Mumbai,Economy,14.75,6,17538
194358,Air_India,AI-766,Chennai,Morning,one,Evening,Bangalore,Economy,29.75,9,17538
194359,Air_India,AI-672,Chennai,Evening,one,Evening,Bangalore,Economy,49.83,9,17538
197905,Vistara,UK-832,Chennai,Early_Morning,two_or_more,Evening,Kolkata,Economy,11.17,3,17538
198286,Vistara,UK-834,Chennai,Evening,one,Evening,Kolkata,Economy,24.92,7,17538
202688,Vistara,UK-836,Chennai,Morning,one,Morning,Hyderabad,Economy,22.92,2,17538
202752,Vistara,UK-832,Chennai,Early_Morning,one,Morning,Hyderabad,Economy,26.75,3,17538
203001,Vistara,UK-834,Chennai,Evening,one,Morning,Hyderabad,Economy,16.50,6,17538

In [354]:
data.isnull().sum()                                          # check for the missing values in my column

airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

In [355]:
Q.1 what are the airlines in the dataset,accompanied by their frequencies?

Object `frequencies` not found.

In [356]:
data.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [357]:
# checking how many  Airlines are in  the dataset

In [358]:
data["airline"].unique()

array(['SpiceJet', 'AirAsia', 'Vistara', 'GO_FIRST', 'Indigo',
       'Air_India'], dtype=object)

In [359]:
data["airline"].nunique()

6

In [360]:
# showing all the Airlines with their frequency
data["airline"].value_counts()

airline
Vistara      127859
Air_India     80892
Indigo        43120
GO_FIRST      23173
AirAsia       16098
SpiceJet       9011
Name: count, dtype: int64

In [361]:
# Showing all the Airlines with their number of flights in Bar graph
data["airline"].value_counts(ascending =True).plot.barh(color=["lightblue","lightgreen"])                                                                                                            "])# for horizontel graph using barh function

plt.show()

SyntaxError: unterminated string literal (detected at line 2) (212957653.py, line 2)